body {
    font-family: Ubuntu, 'Helvetica Neue', sans-serif;
    font-size: 20px;
}

#myPaletteDiv {
    width: 110px;
    margin-right: 2px;
    background-color: whitesmoke;
    border: solid 1px black;
}

#myDiagramDiv {
    flex-grow: 1;
    height: 620px;
    border: solid 1px black;
}

#mySavedModel {
    width: 100%;
    height: 200px;
}

#diagram {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.jsonDiv {
    margin: auto;
    padding-top: 10px;
    text-align: center;
}

.button {
    background-color: #4CAF50;
    border: solid 1px darkgreen;
    color: white;
    padding: 15px 32px;
    margin: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.exitbutton {
    background-color: rgb(226, 90, 0);
    border: solid 1px darkred;
    color: white;
    padding: 15px 32px;
    margin: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.button:hover {
    background-color: darkgreen;
}

.exitbutton:hover {
    background-color: darkred;
}

#popup {
    display: none;
    position: fixed; 
    z-index: 10; 
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.5); 
}

textarea {
    margin-top: 10px;
}


.popup-content {
    background-color: white;    
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  
.props {
    display: flex;
    align-items: baseline;
    justify-content: space-around;
    padding: 10px;
}

.application, .node{
    width: 100%;
    border: 1px solid dimgray;
    border-radius: 20px;
    margin: 1rem;
    padding: 10px;
}

.application > h2, .node > h2 {
    text-align: center;
    margin-bottom: 2rem;
}


.enable {
    background-color: #4CAF50;
    border: solid 1px darkgreen;
    border-radius: 4px;
    color: white;
    padding: 15px 64px;
    margin: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
}

.disable {
    background-color:rgb(226, 90, 0);
    border: solid 1px darkred;
    border-radius: 4px;
    color: white;
    padding: 15px 64px;
    margin: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
}

.buttons { 
    display: flex;
    align-items: center;
    justify-content: center;
}

#snackbar {
    visibility: hidden;
    min-width: 300px;
    width: fit-content;
    background-color: red;
    color: white;
    text-align: center;
    border-radius: 5px;
    padding: 15px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
}

#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from { bottom: 0; opacity: 0;}
    to { bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from { bottom: 30px; opacity: 1;}
    to { bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to { bottom: 0; opacity: 0;}
}

