body {
    font-family: Ubuntu, 'Helvetica Neue', sans-serif;
    font-size: 20px;
}

#myPaletteDiv {
    width: 110px;
    margin-right: 2px;
    background-color: whitesmoke;
    border: solid 1px black;
}

#myDiagramDiv {
    flex-grow: 1;
    height: 620px;
    border: solid 1px black;
}

#mySavedModel {
    width: 100%;
    height: 200px;
}

#diagram {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.jsonDiv {
    margin: auto;
    padding-top: 10px;
    text-align: center;
}

.button {
    background-color: rgb(36, 175, 41);
    border: solid 1px darkgreen;
    color: white;
    padding: 15px 32px;
    margin: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.exitbutton {
    background-color: #da422f;
    border: solid 1px darkred;
    color: white;
    padding: 15px 32px;
    margin: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

#popup {
    display: none;
    position: fixed; 
    z-index: 10; 
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.5); 
}

textarea {
    margin-top: 10px;
}


.popup-content {
    background-color: white;    
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  
.props {
    display: flex;
    align-items: baseline;
    justify-content: space-around;
    padding: 10px;
}

.application, .node{
    width: 100%;
    border: 1px solid dimgray;
    border-radius: 20px;
    margin: 1rem;
    padding: 10px;
}

.application > h2, .node > h2 {
    text-align: center;
    margin-bottom: 1rem;
}

.enable {
    width: 100%;
    background-color: rgb(36, 175, 41);
    border: solid 1px darkgreen;
    border-radius: 4px;
    color: white;
    margin: 5px;
    text-align: center;
    text-decoration: none;
    padding: 10px 40px;
    font-size: 20px;
    font-weight: bold;
}

#addButton {
    width: auto;
    background-color: rgb(36, 175, 41);
    border: solid 1px darkgreen;
    text-align: center;
    padding: 0.5rem 2rem;
    display: inline-flex;
}

.disable {
    background-color:#da422f;
    border: solid 1px darkred;
    border-radius: 4px;
    color: white;
    margin: 5px;
    text-align: center;
    text-decoration: none;
    padding: 0.5rem 2rem;
    font-size: 20px;
    font-weight: bold;
    
}

.enable:hover, .button:hover, #addButton:hover {
    background-color: rgb(9, 156, 33);
}

.disable:hover, .exitbutton:hover {
    background-color: rgb(201, 10, 10); 
}

.buttons { 
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: auto;
    padding: 0rem 10rem;
}

.subtext { 
    text-align: center;
    text-decoration: dashed;
}

.crdtOverview {
    margin: 0.5rem;
}

.addDiv {
    display: flex; 
    justify-content: center;
    align-items: center;
}

input[type="text"] {
    margin: 0;
    padding: 10px;
    display: inline-flex;
}

.removeItem {
    justify-content: end;
    border: solid 1px rgb(202, 161, 71);
    background-color: rgb(237, 211, 64);
    border-radius: 5px;
    padding: 0.5rem 1rem;
    font-size: 17px;
    width: 1fr;
}

ul.zebra > li:nth-of-type(odd) {
    background-color: rgba(95, 158, 160, 0.384);
}

ul.zebra > li {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 1rem 0.5rem;
    border-bottom: 2px solid rgb(221, 221, 221);
    width: 3fr;
}

ul {
    padding-left: 0px;
}

li > label {
    width: 90%;
}

#snackbar {
    visibility: hidden;
    width: fit-content;
    background-color: rgb(182, 16, 16);
    color: white;
    text-align: center;
    border-radius: 5px;
    padding: 15px;
    position: fixed;
    z-index: 1;
    left: 50%;
    transform: translateX(-50%);
    bottom: 30px;
    font-size: 20px;
}

#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from { bottom: 0; opacity: 0;}
    to { bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from { bottom: 30px; opacity: 1;}
    to { bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to { bottom: 0; opacity: 0;}
}

